body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Box Model */
.container {
    width: 85%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: relative;
}

/* Logo positioning */
.logo {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 60px;
    border-radius: 15px;
}

/* Navigation */
nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Content */
.content {
    padding: 20px;
}

/* Rollover image */
.rollover {
    width: 200px;
}

.rollover:hover {
    border: 4px solid red;
}

/* Tables */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border: 2px solid black;
    padding: 10px;
}

/* Invisible layout table */
.layout-table td {
    padding: 10px;
}

/* Form */
.form-box {
    background-color: #ecf0f1;
    padding: 20px;
    width: 50%;
}
/* Mobile responsiveness */
@media (max-width: 768px) {

    .container {
        width: 95%;
        padding: 10px;
    }

    header h1 {
        font-size: 20px;
        text-align: center;
    }

    .logo {
        display:inine-block;
        margin:0;
        float:left;
    }

    nav a {
        display: block;
        margin: 8px 0;
    }

    .form-box {
        width: 100%;
    }

    .rollover {
        width: 100%;
    }
}

