@media(max-width:769px){
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Box Model for product */
.container {
    width: 85%;
    margin: auto;
    background-color:white;
    padding: 20px;
    border: 2px solid #ccc;
}}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: relative;
}


/* my Logo  */
.logo {
    border: 2px dotted red;
    border-radius: 35px;
    position: absolute;
    top: 15px;
    left: 850px;
    width: 150px;
}

/* Navigation */
nav {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Content */
.content {
    padding: 20px;
}

/* Rollover image */
.rollover{
    width: 200px;
}

.rollover:hover {
    border: 4px solid red;
}

/* Tables */
.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    border: 2px solid black;
    padding: 10px;
}

/* Invisible layout table */
.layout-table td {
    padding: 10px;
}

/* Form */
.form-box {
    background-color: #ecf0f1;
    padding: 20px;
    width: 50%;
}
/*.ceo{
   border-radius: 50px;
    width: 100px;
}
.ceo:hover{
    border: 4px solid black;
}*/
.owners{
    width: 100px;
    border-radius: 50px;
}
.owners:hover{
    border: 2px solid blue;

}
